upstream {{ item.item.item.name }}_server {
  server {{ item.ansible_facts.docker_containers[0].NetworkSettings.IPAddress }} fail_timeout=0;
}

server {
  server_name {{ item.item.item.domains }};
  # port to listen for requests on
  listen 80;
  # maximum accepted body size of client request
  client_max_body_size 4G;
  # the server will close connections after this time
  keepalive_timeout 5;

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;

    proxy_pass http://{{ item.item.item.name }}_server;
  }
}

server {
  server_name www.tss68.ru;
  rewrite ^(.*) http://tss68.ru$1 permanent;
}
