server {
  server_name econtour.online-lab.ru econ-tour.ru xn----stbjdmlh8e.xn--p1ai;
  listen 80;

  location / {
    root /home/onlinelab/repos/econtour-frontend;
    index index.html index.htm;
  }
}
