---
consul_version: 0.5.0
consul_archive: "{{ consul_version }}_linux_amd64.zip"
consul_ui_archive: "{{ consul_version }}_web_ui.zip"
consul_tmp_dir: /tmp
consul_download_url: "https://dl.bintray.com/mitchellh/consul/{{ consul_archive }}"
consul_ui_download_url: "https://dl.bintray.com/mitchellh/consul/{{ consul_ui_archive }}"
consul_dest_dir: /usr/local/bin

consul_force_install: false

consul_data_dir: /etc/consul.d
consul_config_file: "{{ consul_data_dir }}/consul.json"

consul_log_file: /var/log/consul.log
consul_log_level: 'warn'

consul_datacenter: 'infobox'

consul_join_at_start: false
consul_servers: ''

consul_is_server: false
# consul_bootstrap: true
consul_bootstrap_expect: 1

consul_rejoin_after_leave: true
consul_leave_on_terminate: true

# consul_node_name

porter_dest_dir: "{{ consul_dest_dir }}"
porter_version: "0.1.2"
porter_download_url: "https://github.com/da4nik/porter/releases/download/{{ porter_version }}/porter"

